<app-header></app-header>

<div class="flex center container bg-white mat-elevation-z8">
    <div *ngIf="comunicado != null">

        <h2>
            Documento código <b>{{comunicado.id}}</b> criado em 
            {{comunicado.inserted_at | date: 'dd/MM/yyyy'}}.
        </h2>

        <hr>

        <div class="destaque">
            <h2>
                Comunicado de perda feito por <b>{{comunicado.nome}}</b>, CPF 
                <b>{{comunicado.cpf | pattern: '###.###.###-##'}}</b>, sendo 
                <b>{{comunicado.evento_descr}}</b> o motivo apontado como causador do 
                prejuízo em sua lavoura cuja data da colheita ficou registrada
                para o dia <b>{{comunicado.lavoura_data_colheita | date: 'dd/MM/yyyy'}}</b>.
            </h2>
            <h2>
                Lembre-se que após a exclusão os dados do registro serão eliminados de forma definitiva.
            </h2>
        </div>

        <h1 class="flex center">Tem certeza que deseja excluir esse documento?</h1>

        <div class="flex space-evenly">
            <button mat-raised-button (click)="cancelaExclusao()" color="accent">Não</button>
            <button mat-raised-button (click)="confirmaExclusao()" color="warn">Sim</button>
        </div>
    </div>
</div>
