:root {
    --cor-branco: #FFF;
    --cor-erro: #c00;
    --cor-fundo: #CDCDCD;
    --cor-fundo-claro: #EFEFEF;
    --cor-fundo-escuro: #CCC;
    --cor-primaria: #4CAF50;
    --cor-secundaria: #FFC107;
    --cor-softfocus-escuro: #434F5B;
}