:root {
    --cor-primaria: #4CAF50;
    --cor-primaria-escura: #0C5078;
    --cor-secundaria: #FFC107;
    --cor-complementar: #42B2FC;
    --cor-softfocus-escuro: #434F5B;
    --cor-softfocus-clara: #788694;
    --cor-fundo: #F3F3F3;
    --cor-fundo-claro: #FFFFFF;
    --cor-fundo-escuro: #505050;
    --cor-transparente: rgba(0,0,0,0);
    --cor-link: #0095EE;
    --cor-visited: #9100FF;
    --cor-hover: #0095EE;
    --cor-active: #FF006F;
    --cor-erro: #c00;
}