@import './config/vars.scss';

:host {
    padding: 0 40px;
}

a {
    cursor: pointer;
}

body {
    margin: 0 0 2em 0;
    font-family: "Barlow Semi Condensed", "Helvetica Neue", sans-serif;
    background: var(--cor-fundo);
}

.container {
    width: 90vw;
    box-sizing: border-box;
    margin: auto;
    padding: 0 40px;
}

main {
    margin: 40px auto 40px;
    background: var(--cor-fundo-escuro);
    border: 1px solid var(--cor-fundo-escuro);
    padding: 20px;
    border-radius: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.end {
    justify-content: end;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.wrap {
    flex-wrap: wrap;
}

.row-2-child * {
    flex: 0 1 48%;
}

h1,
h2 {
    color: var(--cor-softfocus-escuro);
}

.p2 {
    padding: 2em;
}

form,
.w60 {
    width: 60vw;
}

:link,
:visited {
    color: var(--cor-softfocus-escuro);
}

.bg-white {
    background: var(--cor-fundo-claro);
}

.text-erro {
    color: var(--cor-erro);
}

.text-nowrap {
    white-space: nowrap;
}

.mat-mdc-snack-bar-container {    
    //--mdc-snackbar-container-color: black;
    --mdc-snackbar-supporting-text-color: var(--cor-fundo-escuro);
    --mat-mdc-snack-bar-button-color: var(--cor-erro);
}

.snack-bar-notify-error {
    --mdc-snackbar-container-color: #111;
    --mdc-snackbar-supporting-text-color: rgb(238, 177, 177);}

@media (max-width: 700px) {
    .container {
        max-width: 100vw;
        padding: 0 5px;
    }
}